* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #080808;
    --text-color: #ffffff;
    --main-color: #00ffee;
    --secondary-bg-color: #131313;
    --card-color: rgba(255, 255, 255, 0.05);
    --shadow-color: rgba(0, 255, 238, 0.5);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 62.5%;
    overflow-x: hidden;
}

.home {
    display: flex;
    align-items: center;  
    justify-content: space-between; 
    min-height: 100vh;
    padding: 10rem 10%; 
    gap: 5rem; 
}

.home-content {
    flex: 1;
    max-width: 50%;
}

.home-content h1 {
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.home-content p {
    font-size: 1.6rem; 
    line-height: 1.5; 
    
    text-shadow: 0 0 25px var(--shadow-color);
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: 0.3s ease-in-out;
}

.header.scrolled {
    padding: 1.5rem 10%;
    background: rgba(0, 0, 0, 1);
}

.logo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    transition: transform 0.3s ease, color 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
    color: var(--main-color);
}

.navbar {
    display: flex;
    gap: 2.5rem;
    
}

.navbar a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-color: var(--main-color);
}

#menu-icon {
    font-size: 3rem;
    display: none;
    color: var(--main-color);
    cursor: pointer;
}

.skills {
    padding: 8rem 12%;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    text-align: center;
}

.skills h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: var(--main-color);
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.skill {
    width: 300px;
    padding: 2rem;
    background: var(--card-color);
    border-radius: 10px;
    box-shadow: 0 0 15px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px var(--main-color);
}

.skill h3 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.skill p {
    font-size: 1.4rem;
    color: var(--text-color);
}

.projects {
    padding: 8rem 12%;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    text-align: center;
}

.projects h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: var(--main-color);
}

.projects-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.project {
    background-color: var(--bg-color);
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 15px var(--main-color);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.project p {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.contact {
    padding: 8rem 12%;
    text-align: center;
    background-color: var(--bg-color);
}

.contact h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: var(--main-color);
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem; 
    flex-wrap: wrap;
}

.contact-content a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.contact-content a img {
    width: 60px; 
    height: 60px;
    filter: invert(1);
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease;
}

.contact-content a span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 0.5rem;
}

.contact-content a:hover {
    transform: scale(1.2); 
    filter: brightness(1.5);
}

.contact-content a:hover span {
    color: var(--main-color); 
}

.footer {
    text-align: center;
    padding: 2rem 10%;
    background: var(--secondary-bg-color);
    color: var(--text-color);
    border-top: 2px solid var(--main-color);
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
    }

    .home-content {
        max-width: 100%;
    }

}
.text-animation{
    color: var(--main-color);
    font-weight: bold; 
    font-size: 2rem; 
}
.logo span {
    color: var(--main-color);
    background-color: var(--second-bg-color);
    text-shadow: 0 0 25px var(--main-color);
}
.logo{
    text-shadow: 0 0 25px var(--main-color);
    color: red;
}